svg {
  cursor: pointer;
  margin: auto 0.1rem;
}

.fa-square-check {
  color: darkgreen;
}

.fa-rectangle-xmark {
  color: darkred;
}

li > .fa-rectangle-xmark {
  margin-left: auto;
}

.fa-circle-xmark {
  color: darkred;
  font-size: 2rem;
  margin:auto;
}

.fa-circle-xmark:hover {
  color: var(--theme-color-dark-red);
}

.fa-circle-check {
  color: darkgreen;
  font-size: 2rem;
  margin:auto;
}

.fa-circle-check:hover {
  color: green;
}